$badyColor:#000;
$h1FontSize: 1.85rem;
$white: #fff;
$darkBlue: rgb(0, 62, 119);
$dark: #37424C;
$red: #dc222a;
$pink: rgb(190, 0, 190);
$blue: #2287DC;
$green: #1fc66b;
$lightGreen: #36f88d;
$defaultGray: #999;
$landGray: #C9CCCF;
$lightGray: #EEEFEF;
$riceWhite: #f9f9f9;
$gray: #d9d9d9;
$carrotOrange: #eb7428;
$manatee: #92989E;
$bgColor_lv1: linear-gradient(to right, #EB7428, #DC222A);
$bgColor_lv2: #1B2733;